<h1>Sign in</h1>
<%= form_tag session_path do %>
  <p>
    <%= label_tag :email, 'E-mail:' %>
    <%= email_field_tag :email %>
  </p>
  <p>
    <%= label_tag :password, 'Password:' %>
    <%= password_field_tag :password %>
  </p>
  <p>
    <%= submit_tag 'Sign in' %>
  </p>
<% end %>
<p><%= link_to 'Sign up', signup_path %></p>
