<%= render partial: 'application/errors', locals: { object: @place_rent } %>

<%= form_for [@parking, @place_rent], html: {class: 'place-rent-form'} do |f| %>

  <p>
    <%= f.label :starts_at %><br>
    <%= f.datetime_select :starts_at %>
  </p>

  <p>
    <%= f.label :ends_at %><br>
    <%= f.datetime_select :ends_at %>
  </p>

  <p>
    <%= f.label :model %><br>
    <%= collection_select :place_rent, :car_id, current_person.cars, :id, :model %>
  </p>

  <p>
    <%= f.submit "Save" %>
  </p>
<% end %>
