%h1 Place Rents
%div{ class: 'place-rents' }
  %table
    %tr
      %th Start date
      %th End date
      %th Price
      %th Actions
    - @place_rents.each do |place_rent|
      %tr
        %td= place_rent.starts_at
        %td= place_rent.ends_at
        %td= place_rent.price
        %td
          = link_to "Car", car_path(place_rent.car)
          = link_to "Parking", parking_path(place_rent.parking) if place_rent.parking
          = link_to "Show", place_rent_path(place_rent.unique_id), method: 'get'
