= "Hello #{@user.first_name}"
= "You have successfully signed up to bookparking.dev. To login to the site, just follow this link: #{ link_to 'Login', controller: 'sessions', action: 'new', only_path: false }. Thanks for joining and have a great day!"
