<%= render partial: 'application/errors', locals: { object: @parking } %>

<%= form_for @parking, html: {class: 'parking-form'} do |f| %>

  <p>
    <%= f.label :places %>
    <%= f.number_field :places, {min: 0, step: 1} %>
  </p>

  <p>
    <%= f.label :kind %>
    <%= f.select :kind, options_for_select(Parking::KINDS.map { |kind| [t("options.#{kind}"), kind] }) %>
  </p>

  <p>
    <%= f.label :hour_price %>
    <%= f.number_field :hour_price, {min: 0, step: 0.01} %>
  </p>

  <p>
    <%= f.label :day_price %>
    <%= f.number_field :day_price, {min: 0, step: 0.01} %>
  </p>

  <%= f.fields_for :address do |a| %>
    <p>
      <%= a.label :city %>
      <%= a.text_field :city %>
    </p>
    <p>
      <%= a.label :street %>
      <%= a.text_field :street %>
    </p>
    <p>
      <%= a.label :zip_code %>
      <%= a.text_field :zip_code %>
    </p>
  <% end %>

  <p>
    <%= f.submit t(:save) %>
  </p>
<% end %>
