<div class="search-parkings">
  <%= form_tag parkings_path, method: :get do %>
    <p>
      <%= label :private, t('labels.private') %>
      <%= check_box_tag :private, params[:private], params[:private] %>
      <%= label :public, t('labels.public') %>
      <%= check_box_tag :public, params[:public], params[:public] %>
    </p>
      <%= label :day_price_from, t('labels.day_price_from') %>
      <%= text_field_tag :day_price_from, params[:day_price_from] %>
      <%= label :day_price_to, t('labels.day_price_to') %>
      <%= text_field_tag :day_price_to, params[:day_price_to] %>
    <p>
    </p>
      <%= label :hour_price_from, t('labels.hour_price_from') %>
      <%= text_field_tag :hour_price_from, params[:hour_price_from] %>
      <%= label :hour_price_to, t('labels.hour_price_to') %>
      <%= text_field_tag :hour_price_to, params[:hour_price_to] %>
    <p>
    <p>
      <%= label :city, t('labels.city') %>
      <%= text_field_tag :city, params[:city] %>
    </p>
    <p>
      <%= submit_tag t(:search) %>
    </p>
  <% end %>
</div>
