%h1= t(:parkings)
= render 'search'
%div{ class: 'parkings' }
  %table
    %tr
      %th= t(:city)
      %th= t(:places)
      %th= t(:hour_price)
      %th= t(:day_price)
      %th= t(:actions)

    - @parkings.each do |parking|
      %tr{ class: 'parking-row' }
        %td= parking.address.try(:city)
        %td= parking.places
        %td= parking.hour_price
        %td= parking.day_price
        %td
          = link_to t(:show), parking_path(parking)
          = link_to t(:edit), edit_parking_path(parking)
          = link_to t(:remove), parking, method: 'delete'
          = link_to t(:rent_a_place), new_parking_place_rent_path(parking) if user_signed_in?
%div= paginate @parkings
