<%= link_to t(:see_parkings_list), parkings_path %>
<h1><%= t(:parking_details) %></h1>
<%= Address.human_attribute_name(:city) %>: <%= @parking.address.city %></br>
<%= Address.human_attribute_name(:street) %>: <%= @parking.address.street %></br>
<%= Address.human_attribute_name(:zip_code) %>: <%= @parking.address.zip_code %></br>
<%= Parking.human_attribute_name(:places) %>: <%= @parking.places %></br>
<%= Parking.human_attribute_name(:hour_price) %>: <%= @parking.hour_price %></br>
<%= Parking.human_attribute_name(:day_price) %>: <%= @parking.day_price %>
