<%= render partial: 'application/errors', locals: { object: @car } %>

<%= form_for @car, html: {class: 'car-form'} do |f| %>

  <p>
    <%= f.label :model, 'Model:' %>
    <%= f.text_field :model %>
  </p>

  <p>
    <%= f.label :registration_number, 'Registration number:' %>
    <%= f.text_field :registration_number %>
  </p>

  <p>
    <% if @car.image_stored? %>
      <%= f.label :image %><br>
      <%= image_tag @car.image.thumb('400x200#').url if @car.image_stored? %>
      <%= f.file_field :image %>
      <%= f.label :remove_image %>
      <%= f.check_box :remove_image %>
    <% else %>
      <%= f.label :image %><br>
      <%= f.file_field :image %>
    <% end %>
  </p>

  <p>
    <%= f.submit "Save" %>
  </p>
<% end %>
