%h1 Cars
%div{ class: 'cars'}
  %table
    %tr
      %th Model
      %th Registration number
    - @cars.each do |car|
      %tr{ class: 'car-row' }
        %td= car.model
        %td= car.registration_number
        %td
          = link_to "Show", car_path(car)
          = link_to "Edit", edit_car_path(car)
          = link_to "Remove", car, :method => :delete
