<%= link_to 'See cars list', cars_path %>
<h1>Car details</h1>
<%if @car.image_stored? %>
  <p><%= image_tag @car.image.thumb('400x200#').url%></p>
<% end %>
<p>Model: <%= @car.model %></p>
<p>Registration number: <%= @car.registration_number %></p>
