<nav class="navbar navbar-inverse">
  <div class="navbar-header">
    <%= link_to 'ParkApp', root_url, class: 'navbar-brand' %>
  </div>
  <div class="navbar-collapse collapse menu">
    <ul class="nav navbar-nav">
      <li><%= link_to 'Cars', cars_path if user_signed_in? %></li>
      <li><%= link_to 'Parkings', parkings_path %></li>
      <li><%= link_to 'Place rents', place_rents_path if user_signed_in? %></li>
    </ul>
    <ul class="nav navbar-nav navbar-right user">
      <% if current_person %>
        <li>
          <p class="navbar-text">
            Current account: <%= current_person.full_name %>
          </p>
        </li>
        <li>
          <%= link_to 'Sign out', logout_path, method: :delete %>
        </li>
      <% else %>
        <li>
          <%= link_to 'Sign in', login_path %>
        </li>
        <li>
          <%= link_to 'Sign in with Facebook', auth_sign_in_path('facebook') %>
        </li>
      <% end %>
      <% if I18n.locale != I18n.default_locale %>
        <li >
          <%= link_to 'English', locale: 'en'%>
        </li>
      <% else %>
        <li>
          <%= link_to 'Polski', locale: 'pl'%>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
