<!DOCTYPE html>
<html>
<head>
  <title><%= page_title %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  <%= render 'header' %>
  <% flash.each do |name, msg| -%>
    <%= content_tag :div, msg, class: flash_class(name) %>
  <% end -%>

  <%= yield %>
</div>
</body>
</html>
