<h1>Sign up</h1>
<%= render partial: 'application/errors', locals: { object: @account } %>

<%= form_for @account, html: {class: 'account-form'} do |f| %>

  <p>
    <%= f.label :email, 'E-mail:' %>
    <%= f.email_field :email %>
  </p>

  <%= f.fields_for :person do |p| %>
    <p>
      <%= p.label :first_name, 'First name:' %>
      <%= p.text_field :first_name %>
    </p>
    <p>
      <%= p.label :last_name, 'Last name:' %>
      <%= p.text_field :last_name %>
    </p>
  <% end %>

  <p>
    <%= f.label :password, 'Password:' %>
    <%= f.password_field :password %>
  </p>

  <p>
    <%= f.label :password_confirmation, 'Confirm assword:' %>
    <%= f.password_field :password_confirmation %>
  </p>

  <p>
    <%= f.submit 'Sign up' %>
  </p>
<% end %>

